<% layout("/layout/page") -%>
<% block('title', "sign up & sign in") -%>

<p>Enter username and password, in case such name does not exists - new user will be created</p>

<form class="form-horizontal login-form" action="/login" method="POST" name="login-form">
    <div class="form-group">
        <label for="input-username" class="col-lg-2 control-label">Username</label>

        <div class="col-lg-10">
            <input name="username" value="name" type="text" class="form-control" id="input-username" placeholder="Username">
        </div>
    </div>
    <div class="form-group">
        <label for="input-password" class="col-lg-2 control-label">Password</label>

        <div class="col-lg-10">
            <input name="password" value="pass" type="password" class="form-control" id="input-password" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary" data-loading-text="Sending...">Submit</button>
            <span class="help-block error"></span>
        </div>
    </div>
</form>

<script>
    $(document.forms['login-form']).on('submit', function() {
        var form = $(this);

        $('.error', form).html('');
        $(":submit", form).button("loading");

        $.ajax({
            url: "/login",
            data: form.serialize(),
            method: "POST",
            complete: function() {
                $(":submit", form).button("reset");
            },
            statusCode: {
                200: function() {
                    form.html("Вы вошли в сайт").addClass('alert-success');
                    window.location.href = "/chat";
                },
                403: function(jqXHR) {
                    var error = JSON.parse(jqXHR.responseText);
                    $('.error', form).html(error.message);
                }
            }
        });
        return false;
    });
</script>